node_modules
build

test/package-lock.json
test/node_modules
test/out-cli.html
test/out-js.html

# Local certificates for localhost development with HTTPS
*.pem

# npm pack test output
*.tgz

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db