@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
    pointer-events: none;
    width: 2em;
    height: 2em;
    border: 0.15em solid transparent;
    border-color: #e2e8f0;
    border-top-color: #2563eb;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
